* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: #fff;
    padding: 3rem;
    position: relative;
    min-block-size: 100vh;

    display: grid;
    place-content: center;

    background: linear-gradient(#8dd4f7, #9080fa 85%) no-repeat,
    url("images/photo-1677131757262-8b8b6f2a1135.jpg") fixed no-repeat center / cover;
    background-blend-mode: soft-light;
}

h1 {
    font-family: "Snowburst One", sans-serif;
    font-size: clamp(2rem, 5vw + 1rem, 3.5rem);
    line-height: 1.3;
    text-transform: uppercase;
}

.snowfall {
    position: absolute;
    inset: 0;
    content: '';
    overflow: hidden;

    background-image: radial-gradient(circle at 5% 10%, #fff 3px, transparent 6px),
    radial-gradient(circle at 65% 28%, #fff 2px, transparent 4px);
    background-size: 65% 100%;
}