* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: #fff;
    padding: 3rem;
    position: relative;
    min-block-size: 100vh;

    display: grid;
    place-content: center;

    background: linear-gradient(#8dd4f7, #9080fa 85%) no-repeat,
    url("images/photo-1677131757262-8b8b6f2a1135.jpg") fixed no-repeat center / cover;
    background-blend-mode: soft-light;
}

h1 {
    font-family: "Snowburst One", sans-serif;
    font-size: clamp(2rem, 5vw + 1rem, 3.5rem);
    line-height: 1.3;
    text-transform: uppercase;
}

@property --y {
    syntax: "<percentage>";
    inherits: false;
    initial-value: -1%;
}

.snowfall,
.snowfall:before,
.snowfall:after {
    position: absolute;
    inset: 0;
    content: '';
    overflow: hidden;
    pointer-events: none;

    background-image: radial-gradient(circle at 5% var(--y), #fff 3px, transparent 6px),
    radial-gradient(circle at 65% calc(var(--y) * 1.3), #fff 2px, transparent 4px);
}

.snowfall {
    animation: snowfall 20s linear infinite;
    background-size: 65% 100%;
}

.snowfall:before {
    animation: snowfall 27s linear infinite, wind 27s ease-in-out infinite;
    inset: -4rem 0 0;
    opacity: 0.7;
    background-size: 45% 100%;
}

.snowfall:after {
    animation: snowfall 37s linear infinite, wind 27s ease-in-out infinite;
    inset: -8rem 0 0;
    opacity: 0.8;
    background-size: 32% 100%;
}

@keyframes snowfall {
    0% {
        --y: -1%;
    }

    100% {
        --y: 101%;
    }
}

@keyframes wind {
    50% {
        translate: 200px;
    }
}

