* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: #fff;
    padding: 3rem;
    min-block-size: 100vh;

    background: url("images/photo-1677131757262-8b8b6f2a1135.jpg") fixed no-repeat center / cover;
}