* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: #fff;
    padding: 6rem 3rem 3rem;

    background: fixed linear-gradient(transparent, #070707 70%),
    fixed repeating-linear-gradient(#2b2b2b, #2b2b2b 1px, transparent 1px, transparent 40px),
    fixed repeating-linear-gradient(to right, #2b2b2b, #2b2b2b 1px, transparent 1px, transparent 40px),
    #070707;
}

h1, h2 {
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-block-end: 3rem;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 5rem;
    aspect-ratio: 1;
    font-size: 2rem;
    color: #636363;
    background-color: #2b2b2b;
    border-radius: 50%;
    transition: color 0.6s ease-in-out;
}

@property --fill {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}

a:before,
a:after {
    position: absolute;
    z-index: -1;
    content: '';
    inset: -5px;
    border-radius: inherit;
    background: conic-gradient(currentColor var(--fill), transparent var(--fill));
    transition: --fill 0.6s ease-in-out;
}

a:hover,
a:focus-visible,
a:focus-within {
    color: greenyellow;
    outline: 1px solid transparent;
}

a:nth-child(1):hover,
a:nth-child(1):focus-visible,
a:nth-child(1):focus-within {
    --fill: 100%;
}

a:nth-child(1):after {
    display: none;
}

a:nth-child(2):hover,
a:nth-child(2):focus-visible,
a:nth-child(2):focus-within {
    --fill: 100%;
}

a:nth-child(2):before {
    transform: rotateY(180deg);
}

a:nth-child(2):after {
    display: none;
}